<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title class="title">
      <div class="elements">
        <strong>ENA</strong>
        <strong>Hakkımızda</strong>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="logo-container">
    <img src="assets/icon/ENA.png" alt="App Logo" class="app-logo">
  </div>

  <div class="text-container">
    <h2>Welcome to ENA</h2>
    <p class="motto">Güvenliğiniz bizim önceliğimizdir</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis repudiandae veniam non repellendus, consectetur
      eligendi. Fugit officia magni ipsum unde!</p>
  </div>

  <div class="signature">
    <p>Made by Ferhat TELMAN</p>
  </div>
</ion-content>